$primary-color: #22b8cf;
$secondary-color: #495057;
$netural-color: white;
$netural-color-even: #f6f6f6;
$basic-button-color: #868e96;
$basic-change-color: #adb5bd;
$body-font-size: 18px;
$title-font-size: 30px;
$basic-padding: 5px;
$basic-height: 35px;
$point-color: #ff4242;
